*{
    margin: 0;
    padding: 0;
}

    .background{
        background-image: url('d.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        opacity: 0.8;
    }

#myDiv {
   height: 100px;
    width: 500px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 30%;
    top: 23%;
    background-color:darkgray;
    border: 2px solid black;
    opacity: 0.7;
}

h1 {
    color:navy;
    font-family: 'Lobster', cursive;
    text-align: justify;
    position: absolute;
    top: 16%;
    left:30%;
}

#input {
    font-size: 20px;
    padding: 10px;
    border: none;
    position: relative;
    top: 22%;
    opacity: 1.0;
    
}

.addBtn {
    font-size: 20px;
    background-color: green;
    padding: 9px;
    cursor: pointer;
    position: relative;
    top: 22%;
    opacity: 2.0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 10px 8px 10px 30px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;


}

ul li:nth-child(odd) {
    background-color: gainsboro;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 34px;
    color: midnightblue;
    cursor: pointer;
}

#myuL {
    width: 500px;
    position: absolute;
    left: 30%;
    top: 43%;

}